.image {
    width: 54px;
}

.writtenBy {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    color: #8d8d8d;
}

.userName {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.305rem;
    color: #000000;
    margin: 0;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}
