.button {
    border-radius: 12.41px;
    font-size: 0.8rem;
    letter-spacing: 1%;
    padding: 18px 30px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.button:hover {
    opacity: 0.8;
}

.primary {
    color: white;
    background-color: #6c5fbc;
    border: none;
}

.secondary {
    color: #6c5fbc;
    background-color: white;
    border: 1.5px solid #6c5fbc;
}
