.comments {
    padding: 0 122px 149px 98px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 77px;
}

.title {
    margin-left: 52px;
}

.commentsContainer {
    display: flex;
    flex-direction: column;
    gap: 87px;
    margin-left: 24px;
}
