.textArea {
    width: 100%;
    resize: none;
    height: 345px;
    background: none;
    border-radius: 18.12px;
    border: 2px solid #6c5fbc;
    box-sizing: border-box;
    padding: 22.65px 35px 22.65px 27.18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.36rem;
    color: #b6b6b6;
    font-style: normal;
}
